body {
  font-family: 'Trocchi', serif;
  background-color: #2D7CD9
}

h1 {
  color: #ffffff;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}
