<h2>Categories</h2>

<div class="categories-container">
  <% categories.forEach((category) => { %>
    <div class="category">
        <a href="categories/<%= category %>"><%= category %></a>
    </div>
  <% })%>
</div>
