<h2 class="title">Categories</h2>

<div class="categories-container">
  <ul class="categories-list">
    <% categories.forEach((category) => { %>
      <li><a href = "categories/<%= category %>"><%= category %></a></li>
    <% })%>
  </ul>
</div>
