<div class="search-form-container">
  <form action="/search" method="post">
    <label for="keyword">Search by: </label>
    <input type="text" name="keyword" id="keyword">
  </form>
</div>

<% if (joke) { %>
  <div class="joke-box">
    <p><%= joke.value %></p>
  </div>
<%}%>
